@charset "UTF-8";



.tableau-style{
 
 border-collapse: collapse;
 min-width: 400px;
 width: auto;
 box-shadow: 0 5px 50px rgba(0,0,0,0.15);
 cursor: pointer;
 margin: 100px auto;
 border: 1px solid #ddd;
 
 }
 
 tr{
 
 	text-align: left;
 }
 
 th,td{
 padding: 15px 20px;
 
 }
 
 tr, td,th{
 
 border: 1px solid #ddd;
 
 }
 
 caption{
 background-color :#f3f3f3;
 font-weight: bold;
 }
 
 .titre{
 
 background-color: midnightblue;
 color:#fff;
 
 }
 
 tr:nth-child(even){
 
 background-color: #f3f3f3;
 
 }
 
 
 
 body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

/* Forms --------------------------------------------------------------------------------------- */

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

.btn a{
    position: absolute;
    padding: 10px 15px;
    border: 1px solid black;
    left: 50%;
    text-decoration: none;
    color: #dad6d6;
    top: 200px;

}
.btn a:hover{

    color: rgb(23, 119, 119);
}