@charset "UTF-8";

.tableau-style{
 
 border-collapse: collapse;
 min-width: 400px;
 width: auto;
 box-shadow: 0 5px 50px rgba(0,0,0,0.15);
 cursor: pointer;
 margin: 100px auto;
 border: 1px solid #ddd;
 background:url('/GestionVol/WebContent/images/comment-bien-voyager-en-avion-suivez-nos-conseils-pour-un-vol-agreable.jpg');
 
 
 }
 
 tr{
 
 	text-align: left;
 }
 
 th,td{
 padding: 15px 20px;
 
 }
 
 tr, td,th{
 
 border: 1px solid #ddd;
 
 }
 
 caption{
 background-color :#f3f3f3;
 font-weight: bold;
 }
 
 .titre{
 
 background-color: midnightblue;
 color:#fff;
 
 }
 
 tr:nth-child(even){
 
 background-color: #f3f3f3;
 
 }
 
 #action{
 
 background-color:green;
 text-align: center;
 
 }
 
 body{
 
 background-image: url("/GestionVol/WebContent/images/comment-bien-voyager-en-avion-suivez-nos-conseils-pour-un-vol-agreable.jpg");
 
 }